# Core
pandas
numpy

# APIs
openrouteservice
requests

# Google Cloud
google-cloud-storage
google-cloud-bigquery
db-dtypes

# Where have these come from?
matplotlib
seaborn
scikit-learn
pytest
pylint
ipdb
jupyterlab
